.feature_main_container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 35% 20%;
}
.feature_heading{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.feature_heading h1{
    font-size: 40px;
    color: rgb(19, 19, 151);
}
.feature_img{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 10%;
}
.dv1{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}